$primary: #e57373;
$secondary: #5b744b;
$body-color: #333333;
$body-bg: #fdf8f8;
$border-width: 2px;

$onPrimary: #ffffff;
$onSecondary: #f2f0e8;
$primaryContainer: #fadadd;
$onPrimaryContainer: #333333;
$secondaryContainer: #a1c4a6;
$onSecondaryContainer: #2f3d2b;
$highlight: #ffd9d97d;
$border-color: #727272;

$test: red;

$input-group-addon-bg: $secondaryContainer;
$accordion-border-radius: 0.375rem;
$accordion-border-width: 0px;
$accordion-button-active-bg: $secondaryContainer;
$accordion-button-active-color: $onSecondaryContainer;
$accordion-icon-active-color: $onSecondaryContainer;
$accordion-button-focus-box-shadow: $body-bg;
$accordion-button-focus-box-shadow: $body-bg;


@import '../node_modules/bootstrap/scss/bootstrap';

.btn {
  border-bottom-width: 4px;
}

.btn.borderless {
  border: 0px !important;
}

.btn-primary {
  @include button-variant(
    $primaryContainer,
    $primary,
    $body-color,
    $primary,
    $primary,
    $onPrimary,
    $primary
  );
}

.btn-secondary {
  @include button-variant(
    $secondaryContainer,
    $secondary,
    $body-color,
    $secondary,
    $secondary,
    $onSecondary,
    $secondary,
    $active-color: $body-color
  );
}

.btn-outline {
  @include button-outline-variant(
    $body-color,
    $body-color,
    $secondaryContainer,
    $secondaryContainer,
    $body-color
  );
}

.btn-sc {
  @include button-variant(
    $secondary,
    $secondary,
    $onSecondary,
    $secondaryContainer,
    $secondaryContainer,
    $onSecondaryContainer,
    $secondaryContainer,
    $secondaryContainer,
    $onSecondaryContainer,
  );
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 0px !important;

}

.btn-icon {
  @include button-variant(
    $secondaryContainer,
    $secondary,
    $body-color,
  );
  border: 0px !important;
}

.btn-icon.active {
  background-color: $primary;
  color: $onPrimary;
}

.btn-icon.active:hover {
  background-color: $primaryContainer;
}

//Ẩn bg xanh của autofill
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

.table {
  border-collapse: separate; /* Cho phép sử dụng border-spacing */
  border-spacing: 0px 1rem; /* Tạo khoảng cách 12px giữa các dòng */
  margin-bottom: 0px;
}

.table * tr {
  border-radius: 0.375rem; 
}

tr{
  box-shadow: 0px 0px 0px 0.1rem $secondaryContainer; 
}

table * tr :first-child {
  border-radius: 0.375rem 0px 0px 0.375rem;
}

table * tr :last-child {
  border-radius: 0px 0.375rem 0.375rem 0px;
}

table thead * * {
  background: $secondaryContainer !important;
}

table * * * {
  border: none;
}

.highlight td,
.highlight th {
  background: $highlight;
}

.highlight {
  box-shadow: 0px 0px 0px 0.1rem $primary; 
  outline: $highlight solid 0.375rem ;
}

.accordion {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

 .accordion-button {
  border-radius: 0.375rem;
  border: 1px solid $secondaryContainer !important;
}

.accordion-body {
  border-left: 1px solid $secondaryContainer !important;
  margin-top: 0.5rem;
}

#side_nav {
  background: $secondary;
  height: 100vh;
  overflow: hidden;
  transition: width 0.3s;
}

text, p {
  padding-top: 0.375rem;
}

li.active a {
  background-color: $secondaryContainer;
  color: $onSecondaryContainer;
}

#avatar {
  border-radius: 50%;
  height: 2.75rem;
  width: 2.75rem;
  background-color: $primaryContainer;
  color: $primary;
  border: solid 2px $primary;
}

.input-group {
  gap: 1rem;
}